<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <title>Welcome to Apache Spark</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
    <link rel="stylesheet" type="text/css" th:href="@{/styles/home.css}"></link>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" th:src="@{/js/home.js}"></script>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div id="loader"></div>

<div>
    <form action="#" th:action="@{/start}" method="post">
        <input type="submit" value="start stream" class="btn-primary btn-lg form-input-position"
               onclick="showSpinner()"/>
    </form>

    <p style="text-align:center;">
        <img th:src="@{/images/home.jpg}" alt="Logo"/>
    </p>
</div>

</body>
</html>

