<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Result</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" th:href="@{/styles/searchPage.css}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" th:src="@{/js/searchPage.js}"></script>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<div style="text-align: center;padding-bottom: 10px;padding-top: 10px;">
    <label>Search result</label>
</div>

<div id="custom_table"></div>

<div style="text-align: center;">
    <ul class="pager">
        <li class="selector-position"><a href="http://localhost:8085/search"
                                         style="color: black;font-weight: 700;width: 100px;">Previous</a></li>
    </ul>
</div>

</body>

<script th:inline="javascript">
    var hashTags = [[${hashTags}]];

    google.charts.load("current", {packages:["corechart", "table", "map"]});
    google.charts.setOnLoadCallback(function(){ drawCustomCharts(hashTags) })
</script>
</html>