#title_text {
    font-weight: 700;
}

.selector-position {
    padding-top: 15px;
    margin-left: -60px;
}

#dropOperator {
    width: 95px;
}

table, tr, th, td {
    text-align: center !important;
}

th {
    background-color: darkgrey !important;
}